/.idea/
/DotaPresencePython/__pycache__/

/DotaPresenceCSharp/.idea/
/DotaPresenceCSharp/DotaListener/bin/
/DotaPresenceCSharp/DotaListener/obj/
/DotaPresenceCSharp/DotaPresenceCSharp/bin/
/DotaPresenceCSharp/DotaPresenceCSharp/obj/

/DotaPresencePython/.idea/
