/.idea/
/__pycache__/

/DotaPresencePython/
/DotaPresencePython/__pycache__/

/DotaPresenceCSharp/.idea/
/DotaPresenceCSharp/DataHttpSender/bin/
/DotaPresenceCSharp/DataHttpSender/obj/
/DotaPresenceCSharp/DiscordDotaPresence/bin/
/DotaPresenceCSharp/DiscordDotaPresence/obj/
/DotaPresenceCSharp/DotaHandler/bin/
/DotaPresenceCSharp/DotaHandler/obj/

/DotaPresencePython/.idea/
